.contact{
    text-align: end;
    background-color: black;
}

.mail{
    color:azure;
    font-size: 20px;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

.menu{
    display: flex;
    list-style-type: none;
    column-gap: 20px;
}

.button-1{
    margin-right: 20px;
}

.banner{
    height: 455px;
}
.title{
    color: white;
}

.content{
    color:white;
}

.list{
    text-align: justify;
}


.name{
    color: rgb(66, 66, 121);
}

.name1{
    color: rgb(66, 66, 121);
}

.name2{
    color: rgb(66, 66, 121);
}


.name3{
    color: rgb(66, 66, 121);
}


.list1{
    text-align: justify;
}

.submit{
    margin-left:220px;
}

.heading{
    color:rgb(66, 66, 121);
}

.image13{
    border: 1px solid black;
    border-radius: 5px;
}

.order{
    list-style-type: none;
}

.heading1{
    margin-left: 30px;
}

.footer{
    background-color: honeydew;
}

.links{
    text-decoration: none;
    color: black;
}

.copyrights{
    background-color: rgb(179, 229, 229);
}